// ------------------------------
// edX Widget Library: Components - Course Cards

// About: Contains base styling for demonstration and utility for course cards.
// ----------------------------

// ------------------------------
// #GLOBAL
// ------------------------------
.course.card {

    border-bottom: 3px solid #3185BD;
    height: 360px;
    padding: 0;
    position: relative;

    > .banner {
        display:none;
    }

    // Image thumbnail
    > .preview {

        @include size(100% auto);

        height: 168px;
        overflow: hidden;
        position: relative;

        > img {
            width:100%;
        }

    }

    // Main card content
    > .content {

        padding: spacing-vertical(small) spacing-horizontal(base);

        // Usually university name and course CRN
        > .info {

            color: palette(grayscale, x-dark);
            line-height: line-height(base);
            margin: 0;

            font: {
                weight: font-weight(normal);
                size: font-size(small);
            };

        }

        // Name of the course
        > .title {

            color: palette(secondary, x-dark);
            margin: 5px 0;
            height: 55px;
            font: {
                weight: font-weight(normal);
                size: font-size(large);
            };

        }

        // Availability status of the course
        > .availability {

            color: palette(grayscale, dark);
            display: block;
            float: none;
            line-height: line-height(large);
            position: relative;
            margin: 15px 0 0;

            font: {
                weight: font-weight(light);
                size: font-size(x-small);
            }

        }

        // Start date of course
        > .date {

            color: palette(grayscale, x-dark);
            display: block;
            float: none;
            line-height: line-height(x-large);
            margin: 0;
            position: relative;

            font: {
                weight: font-weight(normal);
                size: font-size(small);
            }
        }
    }

    @include mobile {
        margin: 0 0 spacing-vertical(base);
    }
}

// ------------------------------
// #CARDS WITH OVERLAYS
// ------------------------------
.hoverable.course.card {

    cursor: pointer;

    &:hover {

        > .preview:before {
            opacity:0.75;
        }

        > .preview:after {
            opacity:1;
        }
    }

    > .preview:before {

        @include position(absolute, 0 null null 0);
        @include size(100%);
        @include transition(all 0.2s ease-out);

        background: palette(grayscale, black-t);
        content: '';
        opacity: 0;

    }

    > .preview:after {

        @include border-radius(3px);
        @include box-sizing(border-box);
        @include calc(top, '55px - 25px');
        @include calc(left, '50% - 100px');
        @include size(200px 50px);
        @include transition(all 0.2s ease-out);

        border: 3px solid #FFF;
        color: #FFF;
        content: 'Learn More';
        line-height: 44px;
        opacity: 0;
        padding: 0 20px;
        position: absolute;
        z-index: 20;

        font: {
            family: $font-family-sans-serif;
            size: font-size(large);
            weight: font-weight(semi-bold);
        };

        text: {
            align: center;
            transform: uppercase;
        };

    }

}

// ------------------------------
// #VERIFIED CARDS
// ------------------------------
.verified.course.card {
    border-color: palette(success, dark);

    .banner {
        @include banner(palette(success, dark), './images/edx-png/verified.png');
    }
}

// ------------------------------
// #PROFESSIONAL ED CARDS
// ------------------------------
.professional.course.card {
    border-color: palette(secondary, x-dark);

    .banner {
        @include banner(palette(secondary, x-dark));
    }

}

// ------------------------------
// #CREDIT CARDS
// ------------------------------
.credit.course.card {
    border-color: palette(warning, base);

    .banner {
        @include banner(palette(warning, base));
    }

}


// ------------------------------
// #XSERIES CARDS
// ------------------------------
.xseries.course.card {

    border-color: transparent;

    .banner {
        @include banner(palette(grayscale, black));
    }

    .title {
        color: palette(grayscale, black);
        height: auto;
        font-size: font-size(x-large);
        margin-top: 15px;
    }

    .description {
        color: palette(grayscale, base);
        margin-bottom: 10px;
    }

    .availability {
        font-size: font-size(small);
        color: palette(grayscale, x-dark);
    }

}

.course.card.stack {

    &:before,
    &:after {
        @include box-shadow(0px 2px 2px 0px rgba(0, 0, 0, 0.2));
        @include size(100%);
        content: '';
        position: absolute;
        background: palette(grayscale, light);
        border: 1px solid palette(grayscale, base);
      }

    &:before {
        left: -5px;
        top: -5px;
        z-index: -1;
    }

    &:after {
        left: -10px;
        top: -10px;
        z-index: -2;
    }

}
